{% extends 'main.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <!-- Hero Section -->
  <section class="py-5 bg-white">
    <div class="container px-4 py-4">
      <div class="row align-items-center">
        <!-- Text Column -->
        <div class="col-md-6">
          <h1 class="display-5 fw-bold text-dark mb-3">Django Bytes</h1>
          <p class="lead mb-4">
            <strong>From Practical Guides to Expert Tips, Django Bytes delivers bite-sized yet powerful knowledge to level up your Django development journey.</strong>
            Explore cutting-edge tutorials, deep dives, and real-world projects—crafted to keep you ahead in the world of backend development.
          </p>
          <div class="d-flex gap-3 justify-content-center justify-content-md-start">
            <a href="django-projects.html" class="btn btn-success btn-lg">Django Projects</a>
            <a href="articles.html" class="btn btn-light btn-lg">Read Articles</a>
          </div>
        </div>

        <!-- Image Column -->
        <div class="col-md-6 text-center text-md-end">
          <img src="{% static 'assets/img/hero.png' %}" class="img-fluid object-fit-cover" style="object-position: center; height: 400px; width: 500px;" alt="hero" />
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Blog Section -->
  <section class="py-5 bg-light">
    <div class="container px-2">
      <div class="text-center mb-5">
        <h1 class="h2 fw-bold text-dark">Latest articles</h1>
        <p class="text-muted">Read the latest from DjangoBytes</p>
      </div>

      <!-- Article List -->
      <div class="mx-auto" style="max-width: 1000px;">
        {% if posts %}
          <ul class="list-unstyled">
            {% for post in posts %}
              <li class="py-5 border-bottom">
                <a href="?category={{ post.category.slug|lower }}" class="text-decoration-none"><span class="badge px-4 py-2 bg-success-subtle text-success fs-6 mb-3">{{ post.category }}</span></a>
                <div class="h2 fw-bold"><a href="{% url 'single_post' post.category.slug post.slug %}" class="text-dark text-decoration-none">{{ post.title }}</a></div>
                <div class="article-content fs-5 lh-lg">{{ post.content|truncatewords_html:30|safe }}</div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <a href="{% url 'single_post' post.category.slug post.slug %}" class="text-success fw-semibold text-decoration-none">Read more →</a>
                  <small class="fw-semibold text-decoration-none">{{ post.time_to_read }} min read</small>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No Posts found.</p>
        {% endif %}
      </div>

      <div class="text-center mt-5">
        <a href="{% url 'articles' %}" class="btn btn-success btn-lg">View All</a>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->
{% endblock %}
