{% extends 'main.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  
  <!-- Hero Section -->
  <section class="py-5 bg-white">
    <div class="container px-4 py-5">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h1 class="display-5 fw-bold text-dark mb-3">Django Things</h1>
          <p class="lead mb-4">
            <strong>Your Ultimate Destination for Django Mastery!</strong>  
            From Cutting-Edge Tutorials to Expert Insights, We Deliver Top-Quality Content to Elevate Your Django Development Skills. Join Our Community and Stay Ahead in the World of Django with In-Depth Articles and Practical Guides.
          </p>
          <div class="d-flex gap-3 justify-content-center justify-content-md-start">
            <a href="django-projects.html" class="btn btn-success btn-lg">Django Projects</a>
            <a href="articles.html" class="btn btn-light btn-lg">Read Articles</a>
          </div>
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center">
          <img src="images/djangocentral_hero.svg" class="img-fluid rounded" alt="hero">
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Blog Section -->
  <section class="py-5 bg-light">
    <div class="container px-4">
      <div class="text-center mb-5">
        <h1 class="h2 fw-bold text-dark">Latest articles</h1>
        <p class="text-muted">Read the latest from djangothings</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-8">
          <ul class="list-unstyled">
            <!-- Example Post Start -->
             {% for post in posts %}
            <li class="py-4 border-bottom">
              <a href="#">
                <span class="badge bg-success-subtle text-success mb-2">{{ post.category }}</span>
              </a>
              <h2 class="h4 fw-bold">
                <a href="{% url 'single_post' post.category.slug post.slug %}" class="text-dark text-decoration-none">{{ post.title }}</a>
              </h2>
              <p class="mt-3">
                {% comment %} {{ post.content|safe|truncatechars:160 }} {% endcomment %}
                {{ post.content|truncatewords_html:30|safe }}
              </p>
              <div class="d-flex justify-content-between align-items-center mt-3">
<a href="{% url 'single_post' post.category.slug post.slug %}" class="text-success fw-semibold text-decoration-none">Read more →</a>
                <small class="text-muted">{{ post.time_to_read }} min read</small>
              </div>
            </li>
            {% endfor %}
            <!-- Example Post End -->
          </ul>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="{% url 'articles' %}" class="btn btn-success btn-lg">View All</a>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->
{% endblock %}
